{% include "public/header.html" %}

<div class="col-md-10 main_01 ">
	<div class="col-md-4 ">
		<a class="btn btn-default" href="/admin/add_goods" role="button">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加产品</a>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4 ">
		<form class="navbar-form navbar-left" role="search" action="">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" role="form" action="/admin/update_edit_goods/{{ product.id }}" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="goods_name" class="col-sm-2 control-label">品名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="goods_name" id="goods_name" placeholder="请输入品名" value="{{ product.name }}">
				</div>
			</div>
			<div class="form-group">
				<label for="goods_num" class="col-sm-2 control-label">件号</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="goods_num" id="goods_num" placeholder="请输入件号" value="{{ product.partno }}">
				</div>
			</div>

			<div class="form-group">
				<label for="goods_pri" class="col-sm-2 control-label">价格</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="goods_pri" id="goods_pri" placeholder="请输入价格" value="{{ product.price }}">
				</div>
			</div>

			<div class="form-group">
				<label for="goods_pri" class="col-sm-2 control-label">重量</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="goods_weight" id="goods_weight" placeholder="请输入重量" value="{{ product.weight }}">
				</div>
			</div>

			<div class="form-group">
				<label for="goods_addtime" class="col-sm-2 control-label">上传时间</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" name="goods_addtime" id="goods_addtime" value="{{ product.date }}">
				</div>
			</div>

			<!-- <div class="form-group">
				<label for="goods_bid" class="col-sm-2 control-label">品牌</label>
				<div class="col-sm-10">
					<select name="goods_bid" id="goods_bid" class="form-control"  >
						<option value="">请选择品牌,若没有需要的品牌，请到品牌页面添加</option>
					{% for brand in brands %}
						<option value="{{ brand.name }}">{{ brand.name }}</option>
					{% endfor %}	
					</select>
				</div>
			</div> -->

			<!-- <div class="form-group">
				<label for="goods_mid" class="col-sm-2 control-label">机型</label>
				<div class="col-sm-10">
					<select name="goods_mid" id="goods_mid" class="form-control">
						<option value="" >请选择机型</option>
						
						{% for brand in brands %}
							{% for model in brand.son %}
						
						<option value="{{ model.name }}">{{ model.name }}</option>
							{% endfor %}					
						
						{% endfor %}					
					</select>
				</div>				
			</div> -->
			{% if product.image %}
			<div class="form-group">
				<label class="col-sm-2 control-label" for="goods_image">图片</label>
				<img class="col-sm-10" src="{{ res }}/goods/{{ product.image }}" style="width: 50%;">
			</div>			
			{% else %}
			<div class="form-group">
				<label class="col-sm-2 control-label" for="goods_image">图片</label>
				<input type="file" class="col-sm-10" multiple name="image" id="goods_image" >
			</div>
			{% endif %}
			<div class="form-group">
				<label for="note" class="col-sm-2 control-label">备注</label>
				<div class="col-sm-10">
					<textarea class="note" id="note" name="note" value="{{ product.note }}"></textarea>
				</div>
			</div>


			<div class="form-group">	
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">提交</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>

{% include "public/footer.html" %}