{% include "public/header.html" %}

<div class="col-md-10 main_01 ">
	<div class="col-md-4 ">
		<a class="btn btn-default" href="/admin/add_goods" role="button">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加产品</a>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4 ">
		<form class="navbar-form navbar-left" role="search" action="">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">搜索</button>
		</form>
	</div>
	<div class="col-md-12">
		<table class="table table-striped">
			<caption>产品列表</caption>
			<thead>
				<tr>
					<th></th>
					<th>编号</th>
					<th>品名</th>
					<th>件号</th>
					<th>价格</th>
					<th>重量</th>
					<th class="hidden-xs">机型</th>
					<th class="hidden-xs">品牌</th>
					<th class="hidden-xs">上传时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for good in goods %}
				<tr>
					<td><input type="checkbox" name="" id=""></td>
					<td>{{ good.id }}</td>
					<td>{{ good.name }}</td>
					<td>{{ good.partno }}</td>
					<td class="hidden-xs">{{ good.price }}</td>
					<td class="hidden-xs">{{ good.weight }}</td>
					<td class="hidden-xs">{{ good.mid }}</td>
					<td class="hidden-xs">{{ good.bid }}</td>
					<td class="hidden-xs">{{ good.fate|date('Y-m-d') }}</td>
					<td>
						<a href="#">查看</a>
						<a href="#">删除</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>
{% include "public/footer.html" %}