<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url }}/css/login.css">
</head>
<body>
	<div class="loginBox">
		<h2>Login</h2>
		<form action="">
			<div class="item">
				<input type="text" name="" required="required">
				<label for="">UserName</label>
			</div>
			<div class="item">
				<input type="password" name="" required="required">
				<label for="">PassWord</label>
			</div>
			<button class="btn">submit
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</form>
		
	</div>
</body>
</html>