<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>test</title>
</head>
<body > 
    <div style="width: 715px;height: 500px; background-position:center top; background-repeat: no-repeat; background-image:url(https://img1.baidu.com/it/u=3442400566,3660995118&fm=253&fmt=auto&app=138&f=JPEG) ;"><span>平地机配件管理系统</span></div>
    <img src="{{ url }}/images/a.jpeg">
    <img src="http://lianxi.com/app/views/admin/resourse/images/a.jpeg">


    <a href="{{ res }}/logo.png">aaa</a>
    {{ url }}
    {{ public }}
    {{ res }}
</body>
</html>