<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ public }}/css/reset.css">
    <link rel="stylesheet" href="{{ url }}/css/index.css">
    <style></style>
    <title>amdin/index</title>
</head>
<body> 
    <header class="header">
        <div class="header_l">
            <img src="{{ res }}/logo.png" alt="logo">
            <span>平地机配件管理</span>
        </div>
        <div class="header_r">

        </div>
    </header>
   <main class="main">
        <div class="main_l">
            <span>主页面</span>
            <span>产品管理</span>
            <span>新闻管理</span>
            <span>成员管理</span>
        </div>
        <div class="main_r"></div>
    </main>
   <footer class="footer">
       
   </footer>

</body>
</html>