{% include "public/header.html" %}
<div class="col-md-10 main_01 ">
	<table class="table">
		<caption>新闻列表 <a style="float: right;" href="/admin/add_news">添加新闻</a></caption>
		<thead>
			<tr>
				<th>标题</th>
				<th>时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for new in news %}
			<tr>
				<td>
					{{ new.title }}
				</td>
				<td>
					{{ new.date|date('Y-m-d') }}
				</td>
				<td>
					<a href="/admin/del_news/{{ new.id }}">删除</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


</div>
</div>
{% include "public/footer.html" %}