<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url }}/js/jquery.js"></script>
    <script src="{{ url }}/js/jquery-ui.js"></script>
    <script src="{{ url }}/tinymce/js/tinymce/tinymce.min.js"></script>

    <link rel="stylesheet" href="{{ url }}/js/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url }}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url }}/css/index.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row ">
            <div class="col-md-2 col-sm-2 logo ">
                <img src="{{ res }}/logo.png" class="img-responsive center-block">
            </div>
            <div class="col-md-10  header">
                <div class="col-md-6 hidden-xs">你好,上次登录的时间是</div>
                <div class="col-md-6  col-sm-6">
                    <span>
                        你好,user
                    </span>
                    <img src="{{ res }}/logo1.png" alt="头像">
                    <span class="glyphicon glyphicon-log-out"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/admin">页面管理</a></li>
                    <li><a href="/admin/product">产品管理</a></li>
                    <li><a href="/admin/category">品牌管理</a></liv>
                    <li class="active"><a href="/admin/news">新闻管理</a></li>
                    <li><a href="/admin/links">友情链接</a></li>
                    <li><a href="#">系统设置</a></li>
                </ul>
            </div>