{% include "public/header.html" %}	

<!-- 维修知识 -->

<div class="container">
    <div class="row ">
		<div class="col-xxl-3 col-xl-3 col-12  text-center">
		<a href=""><h2>文字处理工具</h2></a>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12  text-center">
			<a href=""><h2>图片处理工具</h2></a>			
		</div>
		<div class="col-xxl-3 col-xl-3 col-12  text-center">
			<a href="/tool/phpinfo"><h2>PHPINFO</h2></a>			
		</div>
	</div>

	<!-- <div class="row ">
		图片处理工具
	</div> -->

</div>


{% include "public/footer.html" %}