{% include "public/header.html" %}
<div class="col-md-10 main_i ">
    <table class="table">
		<caption>链接列表 <a style="float: right;" href="/admin/add_links">添加链接</a></caption>
		<thead>
			<tr>
				<th>标题</th>
				<th>网址</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					百度
				</td>
				<td>
					<a href="http://www.baidu.com">www.baidu.com</a>
				</td>
				<td>
					<a href="#">修改</a>
					<a href="#">删除</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
{% include "public/footer.html" %}