{% include "public/header.html" %}	

<!-- 最新产品 -->
<div class="container product">
	<!-- 最新产品标题 -->
	<div class="row ptitle">
		<div class="col-12 text-center"><strong>---&nbsp;最新<span>产品</span>&nbsp;---</strong></div>
	</div>	
	<!-- 最新产品内容 -->
	<div class="row pcontent_good">
		<div class="col-xxl-6 col-xl-6 col-12  text-right">
			<img src="{{res}}/goods/{{good.image}}" alt=""><br>
		
		</div>
		<div class="col-xxl-6 col-xl-6 col-12  text-left">
			<h2>{{ good.name }}--{{ good.partno }}</h2>
			<hr>
			<span>机型：{{ good.bid }}--{{ good.mid }}</span><br>
			<span>重量：{{ good.weight }}KG</span><br>
			<span>日期：{{ good.date|date('Y-m-d')  }}</span><br>
			<span>阅读：{{ good.readtime }}次</span>

		</div>
		
		
	</div>
</div>



{% include "public/footer.html" %}