{% include "public/header.html" %}	

<!-- 最新产品 -->
<div class="container product">
	<!-- 最新产品标题 -->
	<div class="row ptitle">
		<div class="col-12 text-center"><strong>---&nbsp;最新<span>产品</span>&nbsp;---</strong></div>
	</div>	
	<!-- 最新产品内容 -->
	<div class="row pcontent">
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="{{res}}/goods/连轮轴2205552122.png" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<img src="./images/1.jpeg" alt=""><br>
			<span><a href="">第一个产品</a></span><br>
			<span><a href="">22331122</a></span>
		</div>
	</div>
</div>



{% include "public/footer.html" %}