{% include "public/header.html" %}	

<!-- 最新产品 -->
<div class="container ">
	<!-- 最新产品标题 -->
	<div class="row ptitle">
		<div class="col-12 text-center"><strong>---&nbsp;最新<span>产品</span>&nbsp;---</strong></div>
	</div>	
	<!-- 最新产品内容 -->
	<div class="row pcontent">
		{% for good in goods %}
		<div class="col-xxl-3 col-xl-3 col-12 pcontent text-center">
			<a href="/good/{{ good.id }}">
			<img src="{{res}}/goods/{{good.image}}" alt=""><br>
			<span>{{ good.name }}</span><br>
			<span>{{ good.partno }}</span>
		</a>
		</div>
		{% endfor %}
		
		
	</div>
	<div class="col-12">
		<nav aria-label="navigation">
		{% autoescape false%}
		{{ fpage }}
		{% endautoescape %}
		</nav>
	</div>
	
</div>

		

{% include "public/footer.html" %}