.main_01 {
  margin-top: 10px;
  height: 350px;
}
.title-inline {
  font-size: 18px;
  font-weight: bolder;
}
.logo {
  padding: 0 17px;
}
.denglu {
  border-radius: 5px;
  height: 30px;
  background: chocolate;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin: 5px 0px; */
}
.main_02 {
  height: 500px;
  background: aqua;
}
.footer {
  height: 150px;
  background: #ccc;
  /* margin: 5px 0; */
}
.footer div {
  padding-top: 10px;
  height: 100%;
  line-height: 100%;
  text-align: center;
  border-left: solid 1px white;
}
