.title-inline {
  font-size: 18px;
  font-weight: bolder;
}
.logo {
  padding: 0 17px;
}
.denglu {
  border-radius: 5px;
  height: 30px;
  background: chocolate;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* margin: 5px 0px; */
}
.main_02 {
  /* height: 500px; */
  background: aqua;
}
.foot {
  padding: 10px;
  /* background: #85794f;   */
  text-align: center;
}
