{% include "public/header.html" %}
<div class="col-md-10 main_c ">
	
<!-- {% for brand in brands %}

	<span>{{ brand.name }}</span><br>
	{% for son in brand['son'] %}
		<span>|--{{son.name}}</span><br>
		{% endfor%}
{% endfor %} -->
<button class="btn btn-link btn-default" data-toggle="modal" data-target="#myModal"><a href="/admin/addbrand">添加品牌</a></button>

<table class="table">
	<!-- <tr>
		<td colspan="4"><a href="">添加一级分类</a></td>
	</tr> -->
	<tr>
		<td>品牌名称</td>
		<td>机型</td>
		<td>包含产品</td>
		<td>操作</td>

	</tr>
	{% for brand in brands %}
	<tr class="success">
		<td >{{ brand.name }}</td>
		<td></td>
		<td>本品牌下有{{ brand.count }}个机型</td>
		<!-- <td><a href="">删除</a></td> -->
	</tr>
	{% for son in brand['son'] %}

	<tr>
		<td>&nbsp;|-----</td>
		<td>{{ son.name }}</td>
		<td>本机型下有{{ son.count }}个产品</td>
		<td><a href="/admin/delmodel/{{ son.id }}">删除</a></td>
	</tr>
	{% endfor%}
	<tr>		
		<td colspan="4">
			<form action="/admin/addmodel/{{ brand.id }}" method="post">
				<input type="text" name="name" id="" placeholder="请入机型">
				<!-- <input type="hidden" name="pid" value="0"> -->
				<input type="submit" value="添加机型">
			</form>
		</td>
	</tr>
	{% endfor%}

</table>

</div>
</div>
{% include "public/footer.html" %}